<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt hàng</title>
    <link rel="stylesheet" href="../static/css/styledatHang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="header-wrapper">
        <header>
            <div class="logo">
                <img src="../assets/1.png" alt="HealthyFood Logo">
                <span>HealthyFood.VN</span>
            </div>
        
            <nav class="main-menu">
                <a href="Trangchu.html">Trang chủ</a>
                <a href="Thucdon.html">Thực đơn</a>
                <a href="DatHang.html">Đặt hàng</a>
                <a href="TinTuc.html">Tin tức</a>
                <a href="FAQs.html">FAQs</a>
            </nav>
    
            <div class="right-menu">
                <a href="#">Đăng ký</a>
                <span>|</span>
                <a href="#">Đăng nhập</a>
                <span>|</span>
                <a href="#"><img src="../assets/globe2.svg.png" alt="Ngôn ngữ"> Tiếng Việt</a>
                <span class="bottom">▼</span>
                <div class="cart">
                    <img src="../assets/cart.png" alt="Giỏ hàng">
                    <span id="cart-count">0</span>
                </div>
            </div>
        </header>
    </div>
    <div id="wp-product">
        <div class="header3">
            <h2>CHỌN GÓI ĂN</h2>
            <div class="orange-bar_2"></div>
            <p>HealthyFood cung cấp nhiều gói ăn và thực đơn phong phú kèm đa dạng
                thực phẩm phù hợp với nhu cầu của bạn </p>
        </div>
    <div class="product">
        <div class="item" data-name="Gói fit 1" data-price="700000" data-image="assets/fit1.jpg">
            <img src="../assets/fit1.jpg">
            <div class="name">Gói fit 1</div>
            <div class="desc">Sáng - Trưa</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">700,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói fit 2" data-price="800000" data-image="assets/fit2.jpg">
            <img src="../assets/fit2.jpg">
            <div class="name">Gói fit 2</div>
            <div class="desc">Sáng - Tối</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">800,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói fit 3" data-price="600000" data-image="assets/fit3.jpg">
            <img src="../assets/fit3.jpg">
            <div class="name">Gói fit 3</div>
            <div class="desc">Trưa - Tối</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">600,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói full" data-price="1000000" data-image="assets/fullfit.jpg">
            <img src="../assets/fullfit.jpg">
            <div class="name">Gói full</div>
            <div class="desc">Sáng - Trưa - Tối</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">1,000,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói chay" data-price="650000" data-image="assets/chay.jpg">
            <img src="../assets/chay.jpg">
            <div class="name">Gói chay</div>
            <div class="desc">Sáng - Trưa</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">650,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói slim" data-price="600000" data-image="assets/slim.png">
            <a href="TrangChiTietSp.html">
                <img src="../assets/slim.png" alt="Gói slim">
            </a>
            <div class="name">Gói slim</div>
            <div class="desc">Sáng - Trưa</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">600,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói LUNCH" data-price="500000" data-image="assets/lunch.png">
            <img src="../assets/lunch.png">
            <div class="name">Gói LUNCH</div>
            <div class="desc">Trưa</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">500,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="Gói MEAT" data-price="750000" data-image="assets/meat.jpg">
            <img src="../assets/meat.jpg">
            <div class="name">Gói MEAT</div>
            <div class="desc">Sáng - Trưa</div>
            <div class="time">1 tuần - 1 tháng</div>
            <div class="time">750,000đ</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
</div>

</div>
    <div id="wp_2">
        <div class="header3_2">
            <h2>CHẾ BIẾN SẴN</h2>
            <div class="orange-bar_1"></div>
            
        </div>
        <div class="product">
            <div class="item" data-name="COMBO 04 GÓI ỨC GÀ VIÊN (MỚI)" data-price="180000" data-image="assets/ảnhcbs1.png">
                <img src="../assets/ảnhcbs1.png">
                <div class="name">COMBO 04 GÓI ỨC GÀ VIÊN (MỚI)</div>
                <div class="desc_1">180,000đ</div>
                <div class="time">200 Gram/Gói</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="05 Chai cà phê Cold Brew Lacàph" data-price="229000" data-image="assets/anhcbs2.jpg">
                <img src="../assets/anhcbs2.jpg">
                <div class="name">05 Chai cà phê Cold Brew Lacàph</div>
                <div class="desc_1">229,000đ</div>
                <div class="time">100 Gram/Gói</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="08 gói Ức gà ăn liền" data-price="175000" data-image="assets/anhcbs3.jpg">
                <img src="../assets/anhcbs3.jpg">
                <div class="name">08 gói Ức gà ăn liền</div>
                <div class="desc_1">175,000đ</div>
                <div class="time">625 Gram/Gói</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="1 chai Lacàph Cà phê ủ lạnh Cold Brew" data-price="35000" data-image="assets/anhcbs4.jpg">
                <img src="../assets/anhcbs4.jpg">
                <div class="name">1 chai Lacàph Cà phê ủ lạnh Cold Brew</div>
                <div class="desc_1">35,000đ</div>
                <div class="time">1 Chai/Gói</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="05 gói Cơm gạo lức ăn liền" data-price="119000" data-image="assets/anhcbs5.jpg">
                <img src="../assets/anhcbs5.jpg">
                <div class="name">05 gói Cơm gạo lức ăn liền</div>
                <div class="desc_1">119,000đ</div>
                <div class="time">200 Gram/Gói</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="BOX Ức gà mềm mọng" data-price="459000" data-image="assets/anhcbs6.jpg">
                <img src="../assets/anhcbs6.jpg">
                <div class="name">BOX Ức gà mềm mọng</div>
                <div class="desc_1">459,000đ</div>
                <div class="time">1000 Gram/Hộp</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
            <div class="item" data-name="Box Trái Cây Thanh Mảnh" data-price="199000" data-image="assets/anhcbs7.jpg">
                <img src="../assets/anhcbs7.jpg">
                <div class="name">Box Trái Cây Thanh Mảnh</div>
                <div class="desc_1">199,000đ</div>
                <div class="time">3200 Gram/Hộp</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>        
            <div class="item" data-name="Gói fit 3" data-price="600000" data-image="assets/fit3.jpg">
                <img src="../assets/fit3.jpg">
                <div class="name">Gói fit 3</div>
                <div class="desc_1">600,000đ</div>
                <div class="time">Trưa - Tối</div>
                <div class="iconproduct"><img src="../assets/cart.png"></div>
            </div>
        </div>       
</div>
<div id="wp_2">
    <div class="header3_2">
        <h2>GÓI NƯỚC</h2>
        <div class="orange-bar_1"></div>
        
    </div>
    <div class="product">
        <div class="item" data-name="FITFOOD JUICE SWEETIE" data-price="200000" data-image="assets/nuoc1.jpeg">
            <img src="../assets/nuoc1.jpeg">
            <div class="name">FITFOOD JUICE SWEETIE</div>
            <div class="desc_1">200,000đ</div>
            <div class="time">5 Chai/Tuần</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="FITFOOD JUICE GREENIE" data-price="200000" data-image="assets/nuoc2.jpeg">
            <img src="../assets/nuoc2.jpeg">
            <div class="name">FITFOOD JUICE GREENIE</div>
            <div class="desc_1">200,000đ</div>
            <div class="time">5 Chai/Tuần</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
</div>
</div>
<div id="wp_2">
    <div class="header3_2">
        <h2>QUÀ TẶNG</h2>
        <div class="orange-bar_1"></div>
        
    </div>
    <div class="product">
        <div class="item" data-name="Hộp Blind Box" data-price="100000" data-image="assets/qua1.jpg">
            <img src="../assets/qua1.jpg">
            <div class="name">Hộp Blind Box</div>
            <div class="desc_1">100,000đ</div>
            <div class="time">100 Gram/Hộp</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
        
        <div class="item" data-name="SET QUÀ FITFOOD" data-price="319000" data-image="assets/qua2.jpg">
            <img src="../assets/qua2.jpg">
            <div class="name">SET QUÀ FITFOOD</div>
            <div class="desc_1">319,000đ</div>
            <div class="time">1 Chai/Hộp</div>
            <div class="iconproduct"><img src="../assets/cart.png"></div>
        </div>
</div>
</div>
<div class="space_1"></div>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="../assets/1.png" alt="Logo HealthyFood">
            <h2>HealthyFood.VN</h2>
        </div>

        <div class="footer-company-info">
            <h3>Công ty TNHH HealthyFood Việt Nam</h3>
            <p>Địa chỉ: Kim Liên, Lương Định Của, Đống Đa, Hà Nội</p>
            <p>Điện thoại: (+84) 347 007 115 [hotline]</p>
            <p>Email: info@healthyfood.vn</p>
            <p>MST: 0000000 do sở kế hoạch cấp và đầu tư Hà Nội cấp ngày 10/10/2024</p>
        </div>

        <div class="footer-links">
            <h3>Điều khoản chung</h3>
            <ul>
                <li>Chính sách quy định chung</li>
                <li>Quy định hình thức thanh toán</li>
                <li>Chính sách vận chuyển giao hàng</li>
                <li>Chính sách bảo mật thông tin</li>
            </ul>
        </div>

        <div class="footer-follow-us">
            <h3>Theo dõi chúng tôi tại</h3>
            <div class="social-icons">
                <a href="#"><img src="../assets/facebook (1).png" alt="Facebook"></a>
                <a href="#"><img src="../assets/ig.png" alt="Instagram"></a>
                <a href="#"><img src="../assets/youtb.png" alt="YouTube"></a>
            </div>
            <div class="footer-certification">
                <img src="../assets/bocongthuong.webp" alt="Bộ Công Thương">
            </div>
        </div>
    </div>
</footer>
<div class="overlay"></div>

<div id="cart-summary">
    <div id="cart-summary-header">
        <h3>GIỎ HÀNG</h3>
        <button class="close-btn">X</button> <!-- Nút thoát lớn và dễ nhìn hơn -->
    </div>

    <div id="cart-items">
        <!-- Sản phẩm sẽ được thêm vào đây -->
    </div>

    <div id="cart-summary-footer">
        <div class="temp-total">
            Tạm tính: <span id="total-price">0đ</span>
        </div>
        <button class="order-btn">Đặt hàng</button>
    </div>
</div>
<script src="../static/scripts/script2.js"></script>
</body>
</html>